<h4>{{duration}}</h4>
{{#if showStartBtn}}
<button type="submit" {{action "start"}}>Start</button>
{{/if}}
{{#if stopRequired}}
<button type="button" {{action "stop" true}}>Stop</button>
{{/if}}
{{#if isStopWatch}}
<button type="button" {{action "pause"}}>{{#if isRunning}}Pause{{else}}Resume{{/if}}</button>
{{/if}}
